<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--读取外部配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--配置SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--读取Mapper的配置文件-->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*Mapper.xml"/>
        <!--配置额外的Mybatis配置文件（可选：基本上该配的都在spring.xml中已经配置了）-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>

        <!--配置分页插件-->
        <property name="plugins">
            <bean class="com.github.pagehelper.PageHelper">
                <property name="properties">
                    <props>
                        <!--配置方言为mysql-->
                        <prop key="dialect">mysql</prop>
                        <!--配置自动修正功能：如果传入的页码不在合理范围内，对其自动进行适配-->
                        <prop key="reasonable">true</prop>
                    </props>
                </property>
            </bean>

        </property>
    </bean>

    <!--扫描Mapper-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.microtao.crowd.mapper"/>
    </bean>
</beans>